<header class="header" >
  <div class="container">
    <span class="material-symbols-outlined" style="size: 25px; color: aliceblue;">menu</span>
    <div class="image">
      <img routerLink="/" src="../../../assets/images/Group 183.svg" alt="">
    </div>
    <div class="options">
      <p routerLink="/produto">Produtos</p>
      <p routerLink="/categoria">Categorias</p>
      <p>Cardápio</p>
      <p routerLink="/pedidos">Pedidos</p>
    </div>
    <div class="logout">
      <span class="material-symbols-outlined" style="size: 25px; color: aliceblue; cursor: pointer;" (click)="logout()">logout</span>
    </div>
  </div>
</header>
