<div class="container">
  <p-toast></p-toast>
  <div *ngFor="let message of messages">
  <div *ngIf="message.severity === 'success'">
    {{ message.summary }} - {{ message.detail }}
  </div>
</div>
  <div class="Title">
    <h2>Mesas</h2>
  </div>
  <div class="abrirMesa">
    <input type="text" name="mesa" [(ngModel)]="novaMesa.name" placeholder="Insira o nome do garçom">
    <input type="number" name="mesa" [(ngModel)]="novaMesa.table" placeholder="Insira o número da mesa">
    <button (click)="abrirMesa()" >
      Abrir Mesa
    </button>

  </div>
  <div class="principal">
    <div *ngFor="let item of mesas" class="mesas">
      <div class="MesaView">
        <span class="material-symbols-outlined" style="font-size: 50px;">
          table_restaurant
        </span>
        <h4><strong>Mesa </strong>{{item.table}}</h4>
        <p>{{item.name}}</p>
      </div>
      <div class="OptionsContainer">
        <button class="options"(click)="detalhesPedido(item.id)">
          <p>Pedidos</p>
        </button>
        <button class="options">
          <p>Transferir Mesa</p>
        </button>
        <button class="options">
          <p>Alterar Garçom</p>
        </button>
        <button class="options" (click)="showDialog(item.id)">
          <p>Conta</p>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="card flex justify-content-center">
    <p-dialog header="Conta" [(visible)]="visible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
       <table class="table" *ngIf="itensCarrinho.length > 0">
        <thead style="text-align: left;">
          <tr>
            <th><strong>Nome</strong></th>
            <th><strong>Preço</strong></th>
            <th><strong>Quantidade</strong></th>
            <th><strong>Descrição</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itensCarrinho">
            <td style="color: var(--blue); text-decoration: underline;">{{ item.product.name }}</td>
            <td>{{ item.product.price }} R$</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.product.description }}</td>
          </tbody>
        </table>
        <div class="FecharConta">
          <div style="display: flex; align-items: flex-start; flex-direction: row; gap: 8px;">
            <p>Total:</p>
            <p style="color: black; font-weight: 700;">{{ valorTotal }} R$</p>
          </div>
            <button class="FinalizarPagamento" (click)="fecharConta(itensCarrinho[0].order_id)">
              Fechar Conta
            </button>
        </div>
    </p-dialog>
</div>
